.header {
  display: flex;
  height: var(--header-height);
  width: 100vw;
  padding: 16px;
  align-items: center;
  gap: 8px;

  flex-direction: row;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;

  background: rgba(56, 47, 91, 0.9);
  backdrop-filter: blur(16px);

  color: white;

  @media (max-height: 640px) {
    padding: 8px;
    height: calc(var(--header-height) - 16px);
    /* display: none; */
  }
}
