.header {
  display: flex;
  height: var(--header-height);
  width: 100vw;
  padding: 1rem;
  align-items: center;
  gap: 8px;

  flex-direction: row;

  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;

  background: rgba(69, 59, 116, 0.9);
  backdrop-filter: blur(16px);

  color: white;

  @media (max-height: 640px) {
    padding: 0.5rem;
    height: calc(var(--header-height) - 8px);
    /* display: none; */
  }
}
