@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 72px;
  --mobile-width: 640px;
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  --shadow-flat: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  --pastel-pink: #dea4c0;
  --pastel-orange: #ebbf96;
  --pastel-yellow: #f7edc3;
  --pastel-green: #a1ddce;
  --pastel-purple: #c09fcc;
  --pastel-black: #323844;
  --purple-50: #f1f1fc;
	--purple-100: #e5e7fa;
	--purple-200: #d0d2f5;
	--purple-300: #b3b5ee;
	--purple-400: #9894e5;
	--purple-500: #867ada;
	--purple-600: #7560cb;
	--purple-700: #6550b2;
	--purple-800: #524390;
	--purple-900: #453b74;
	--purple-950: #382f5b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  min-width: 0;
  min-height: 0;
  text-decoration: none;
  /* transition: all 0.27s ease-out; */
  font-family: "Quicksand", sans-serif;
}

/* Supposed to make these "responsive"? Try if necessary */
img,
picture,
video {
  display: block;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}

/* Changing the look of the scrollbar */
*::-webkit-scrollbar {
  width: 0.5rem;
  @media (max-width: 640px) {
    width: 0.25rem;
  }
}

*::-webkit-scrollbar-track {
  background: var(--purple-100);
  margin: calc(var(--header-height) + 4px) 0 4px 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--purple-950);
  border-radius: 0.5rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--purple-400);
  cursor: pointer;
}

*::selection {
  background-color: var(--purple-300);
}

body {
  background-color: var(--purple-50);
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 2.4rem;

  @media (max-width: 640px) {
    font-size: 1.6rem;
  }
}

h2 {
  @media (max-width: 640px) {
    font-size: 1.4rem;
  }
}

input {
  font-size: 1.1rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.singleline-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* flex: 1; */
}

li {
  list-style-position: inside;
}
