@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --header-height: 80px;
  --mobile-width: 640px;
  --elevation-5: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
  --shadow-flat: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  --dark-purple: rgba(56, 47, 91, 0.9);
  --background-color: #d8dbfa;
  --pastel-pink: #dea4c0;
  --pastel-orange: #ebbf96;
  --pastel-yellow: #f7edc3;
  --pastel-green: #a1ddce;
  --pastel-blue: #798ad1;
  --pastel-purple: #c09fcc;
  --pastel-black: #323844;
  --pastel-white: #f6e6ee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  transition: all 0.27s ease-out;
  font-family: "Quicksand", sans-serif;
}

/* Supposed to make these "responsive"? Try if necessary */
img,
picture,
video {
  display: block;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}

/* Changing the look of the scrollbar */
*::-webkit-scrollbar {
  width: 12px;
  @media (max-width: 640px) {
    width: 4px;
  }
}

*::-webkit-scrollbar-track {
  background: var(--background-color);
  margin: calc(var(--header-height) + 4px) 0 4px 0;
}

*::-webkit-scrollbar-thumb {
  background: var(--dark-purple);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--pastel-purple);
  cursor: pointer;
}

*::selection {
  background-color: #b399f0;
}

body {
  background-color: var(--background-color);
}

a {
  text-decoration: underline;
}

h1 {
  font-size: 2.4rem;

  @media (max-width: 640px) {
    font-size: 1.6rem;
  }
}

h2 {
  @media (max-width: 640px) {
    font-size: 1.1rem;
  }
}

.singleline-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* flex: 1; */
}
